spring:
  application:
    name: identity-service

  datasource:
    url: jdbc:mysql://mysql-1da53c24-dongreswapnil003-49d6.d.aivencloud.com:27516/identity_service?sslMode=REQUIRED
    username: avnadmin
    password: ${DB_PASSWORD:password_placeholder}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

jwt:
  secret: ${JWT_SECRET:my-super-secure-secret-key-1234567890}
  expiration: 86400000

management:
  tracing:
    enabled: false
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    com.ticketbooking.identity: DEBUG