server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/identity_service
    username: root
    password: Swap@2003
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: my-super-secure-secret-key-1234567890
  expiration: 86400000
