########################
# Maven
########################
target/
bin/

########################
# Eclipse
########################
.metadata/
.classpath
.project
.settings/

########################
# IntelliJ
########################
.idea/
*.iml

########################
# VS Code
########################
.vscode/

########################
# Logs
########################
*.log

########################
# OS
########################
.DS_Store
Thumbs.db

########################
# Environment files
########################
application-local.yml
.env
